.navbar-nav .nav-link {
    color: rgba(0,0,0,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(80, 80, 233) !important;
}

body {
    font-family: 'Newsreader', serif;
}

#blogtitle {
    font-size: 4rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 4rem;
    }
}
